.badge {
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: tomato;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
}
