.badge {
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: tomato;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
}
.more-notification {
  position: relative;
}
.more-notification::after {
  display: block;
  content: "";
  width: 3px;
  height: 3px;
  background-color: red;
  position: absolute;
  top: -5px;
  right: -3px;
}
